/* colors */
$basic-green: hsla(120, 100%, 25%, 1);
$basic-red: hsla(0, 100%, 50%, 1);

$yellow: hsl(43, 74%, 66%);
$light-yellow: hsl(43, 74%, 71%);
$dark-yellow: hsl(43, 74%, 61%);
$grey: hsl(0, 0%, 80%);
$light-grey: lighten($grey, 40%);
$dark-grey: darken($grey, 10%);
$darker-grey: darken($grey, 15%);
$basic-text-color: #264653;
$green: #2A9D8F;
$light-green: lighten($green, 25%);
$red: #E76F51;
$bright-blue: #0496ff;
$light-blue: lighten($bright-blue, 35%);

@mixin lightenOnHover($color) {
    background-color: $color;
    
    &:hover {
        background-color: lighten($color, 10%);
    }
}

@mixin darkenOnHover($color) {
    background-color: $color;
    
    &:hover {
        background-color: darken($color, 10%);
    }
}

@mixin changeBkColorOnHover($color, $hover-color) {
    background-color: $color;
    
    &:hover {
        background-color: $hover-color;
    }
}

outer-elem-color {
    background-color: #2A9D8F;
    color: $yellow;
}

inner-elem-color {
    background-color: $yellow;
    color: $basic-text-color;
}

inner2-elem-color {
    background-color: inherit;
    color: $basic-text-color;
}

add-btn-color {
    @include lightenOnHover($bright-blue);
}

del-btn-color {
    @include lightenOnHover($red);
}
/* font-size */
$header-font-size: 3rem;
$h1-font-size: 1.3rem;
$collapsible-btn-font-size: 1.1rem;
$td-font-size: 1.1rem;

/* font-family */
$title-font: 'Montserrat', sans-serif;
$contents-font: 'Nunito', sans-serif;

/* border */
$thin-grey-border: 1px solid $grey;
$bold-grey-border: 3px solid $grey;
$thin-dark-grey-border: 1px solid $dark-grey;
$bold-dark-grey-border: 3px solid $dark-grey;

/* width / height */
$outer-width: 700px;
$outer-height: 80vh;
$inner-width: $outer-width * 0.9;

/* box-shadow */
$common-box-shadow: 0 0 0 4px $light-green;
$thin-blue-box-shadow: 0 0 0 2px $light-blue;

/* animation */
$normal-trainsition-speed: 0.3s;
$fast-trainsition-speed: 0.1s;
collapsible-animate {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* padding */
$page-padding: 12px 12px;
$main-tab-btn-padding: 14px 16px;
$dropdown-btn-padding: 10px 12px;
$form-padding: 0px 10px 10px;

html {
    @extend outer-elem-color;
    font-size: 16px;
    font-family: $contents-font;
    width: 100vw;
    height: 100vh;
}

header {
    text-align: center;
    font-size: $header-font-size;
    font-family: $title-font;
    font-weight: normal;
    margin: 5vh;
}

h1 {
    font-family: $title-font;
    font-weight: normal;
    font-size: $h1-font-size;
}

input[type=text] {
    width: inherit;
    font-size: 1rem;
    outline: none;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border: $thin-dark-grey-border;
    border-radius: 5px;
    transition: $fast-trainsition-speed;
    font-family: $contents-font;
    background-color: $light-grey;
    
    &:hover {
        box-shadow: $common-box-shadow;
    }
    
    &:focus {
        @extend :hover;
        border-color: $green;
    }
}

textarea {
    resize: none;
    padding: 10px;
    border: $thin-dark-grey-border;
    border-radius: 10px;
    font-family: $contents-font;
    font-size: 1rem;
    display: block;

    &:focus {
        outline: none;
    }
}

table {
    border-spacing: 5px;
    
    th {
        font-weight: normal;
    }
    
    td {
        vertical-align: middle;
    }
}

button,input[type=submit],input[type=button] {
    font-family: $contents-font;
    font-size: 1rem;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    color: white;
    transition: $normal-trainsition-speed;
    background-color: $bright-blue;
    
    &:disabled {
        cursor: no-drop;
        color: $darker-grey !important;
        background-color: $light-grey !important;
    }
    
    &#add-attr-ctrl-item-btn {
        @extend add-btn-color;
    }
    
    &#delete-all-attr-ctrl-item-btn,&#delete-all-cond-btn {
        @include lightenOnHover($red);
    }
    
    &#create-table-page-btn {
        @include darkenOnHover($green);
    }
    
    &#create-tbl-btn {
        @include lightenOnHover($green);
    }
}

#delete-table {
    $main-color: $red;
    
    .collapsible-btn {
        @include darkenOnHover($main-color);
    }
    
    #delete-table-form {
        padding: $form-padding;
        overflow: auto;
        max-height: 60%;
        
        &>* {
            $common-margin: 10px;
            margin-top: $common-margin;
        }
        
        #table-num {
            color: $main-color;
            font-weight: bold;
        }
        
        button {
            display: block;
            &#refresh {
                background-color: $bright-blue;
            }
            
            &#delete {
                background-color: $main-color;
                margin-left: auto;
            }
        }
        
        table {
            width: $inner-width - 40px;
            margin: 5px auto;
            $bold-border: 3px solid $main-color;
            
            tr:nth-child(even){
                background-color: lighten($main-color, 40%);
            }
            
            &,th,td {
                border-bottom: $thin-grey-border;
                border-collapse: collapse;
            }
            
            td,th {
                padding: 10px;
            }
            
            th {
                text-align: left;
                border-bottom: $bold-border;
                font-weight: bold;
                font-family: $title-font;
            }
            
            tr:last-child td {
                border-bottom: $bold-border;
            }
            
            input {
                transform: scale(1.3);
                border: $thin-grey-border;
                
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

#container {
    margin: 0 auto;
    width: $outer-width;
}

#main-tabs {
    background-color: $light-grey;
    overflow: hidden;
    
    &>button {
        outline: none;
        color: $basic-text-color;;
        border-radius: 0;
        font-size: $h1-font-size;
        font-weight: bold;
        float: left;
        @include changeBkColorOnHover(inherit, $grey);
        
        &.active {
            background-color: $dark-grey;
        }
    }
}

#main-pages>* {
    @extend inner-elem-color;
    display: none;
    padding: $page-padding;
}

#main-pages>.active {
    display: block;
}

.fa-caret-down,.fa-caret-up {
    position: absolute;
    right: 8px;
}

#create-table-form {
    padding: $form-padding;
}

.delete-attr-ctrl-item-btn {
    width: 20px;
}

.attribute-control-item>* {
    display: inline-block;
}

.attribute-type-list {
    display: none;
    position: absolute;
}

.attribute-type-list>a {
    display: block;
}

.confirm-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    
    .confirm-page {
        position: relative;
        margin: auto;
        padding: 10px 10px;
        border-radius: 5px;
        background-color: white;
        
        .confirm-contents {
            width: 90%;
            position: absolute;
            /*overflow: auto;*/
            overflow: visible;
            margin: auto;
            top: 0; left: 0; bottom: 0; right: 0;
            
            .confirm-msg {
                font-weight: normal;
                text-align: center;
            }
            
            button {
                position: absolute;
                width: 100px;
                $space: 20%;
                &.yes {
                    background-color: $red;
                    left: $space;
                }
                &.no {
                    background-color: $dark-grey;
                    right: $space;
                }
                &.copy {
                    background-color: $green;
                    left: $space;
                    bottom: 20px;
                }
                &.ok {
                    background-color: $bright-blue;
                    right: $space;
                    bottom: 20px;
                }
            }
        }
    }
}

#delete-all-attr-ctrl-items {
    .confirm-page {
        width: 500px;
        height: 100px;
    }
}

.confirm-container#create-table {
    .confirm-page {
        width: 500px;
        height: 500px;

        .confirm-contents {
            textarea {
                resize: none;
                padding: 10px;
                border: $thin-dark-grey-border;
                border-radius: 10px;
                position: absolute;
                font-family: $contents-font;
                font-size: 1rem;
                left: 50%;
                transform: translateX(-50%);
                display: block;
                width: 90%;
                height: 70%;
                
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.confirm-page-animate {
	-webkit-animation: animatezoom 0.3s;
	animation: animatezoom 0.3s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}
	
@keyframes animatezoom {
	from {transform: scale(0)}
	to {transform: scale(1)}
}

#provisioned-throughput-tbl input {
    width: 100px;
}

#create-tbl-btn {
    display: block;
    margin-left: auto;
}

.collapsible {
    @extend inner2-elem-color;
    width: $inner-width;
    margin: auto;
    
    .collapsible-btn {
        font-size: $collapsible-btn-font-size;
        border-radius: 0;
        width: $inner-width;
        padding: $dropdown-btn-padding;
        display: block;
        cursor: pointer;
        text-align: center;
        position: relative;

        &i {
            position: absolute;
            right: 6px;
        }
    }

    .collapsible-contents {
        @extend collapsible-animate;
        width: $inner-width;

        * {
            :not(button):not(input) {
                color: $basic-text-color;
            }
        }
    }
    
    &#create-table {
        border: 3px solid $green;
    }
    
    &#delete-table {
        border: 3px solid $red;
    }
}



.middle {
    height: 10px;
}

.confirm-msg {
    color: $basic-text-color;
}

#query-table-form {
    button[type=button] {
        margin-right: 5px;
    }
    #query {
        @extend collapsible-animate;
    }

    #add-query-condition-btn {
        background-color: $bright-blue;
    }
}

#main-page-4 {
    input {
        margin-right: 5px;
    }
    
    input[type="submit"],button {
        color: $light-grey;
        background-color: $bright-blue;
    }
    
    textarea {
        width: 100%;
        height: 35%;
        cursor: default;
        overflow: visible;
    }
    
    table {
        color: $basic-text-color;
    }
}


#query-form {
    #conditions {
        table#cond-ctrl-items {
            color: $basic-text-color;
            td {
                text-align: center;
                .dropdown-list>* {
                    text-align: left;
                }
            }
        }
        
        #add-btn {
            background-color: $bright-blue;
        }
        
        #delete-all-btn {
            background-color: $red;
        }
        
        button {
            margin-right: 5px;
        }
        
        .delete-cond-ctrl-item-btn {
            max-width: 20px;
        }
    }
}

button,input[type=submit] {
    &:disabled {
        cursor: no-drop;
        color: $darker-grey !important;
        background-color: $light-grey !important;
    }
}

.dropdown {
    position: relative;
    
    & > * {
        width: 170px;
    }
    
    .dropdown-btn-container {
        position: relative;

        .dropdown-btn {
            cursor: default;
        }

        .fa,.fas {
            display: inline-block;
            position: absolute;
            right: 6px;
            top: 50%;
            margin: auto;
            transform: translateY(-60%);
        }
    }
    
    .dropdown-list {
        display: none;
        position: absolute;
        z-index: 1;
        transform: translateY(5px);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: white;
        max-height: 35vh;
        overflow: auto;
    }
    
    .dropdown-list > input {
        width: inherit;
        display: block;
        cursor: pointer;
        background-color: $light-green;
        padding: 10px 10px;
        border: none;
        border-radius: 0px;
        &:not(:first-child) {
            margin-top: 2px;
        }
        &:hover {
            box-shadow: none;
        }
    }
}

section#update-table-items {
    button {
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

table {
    color: $basic-text-color;
    
    td {
        padding: 3px;
        font-size: $td-font-size;
    }
}

.delete-btn {
    width: 20px;
    cursor: pointer;
}

.stress {
    font-weight: bold;
    color: $bright-blue;
}

section#update {
    $input-width: 140px;
    button {
        margin-right: 5px;
        margin-bottom: 5px;
    }
    input {
        width: $input-width;
        padding: 3px;
    }
    .dropdown > * {
        width: $input-width
    }
    input {
        &:focus,&:hover {
            box-shadow: none;
            border: none;
        }
    }
    button[type="submit"] {
        margin: 10px 0 0 auto;
        background-color: $green;
        display: block;
    }
}

table#update-status {
    border-radius: 5px;
    border: 3px solid $bright-blue;
    td, th {
        border: none;
        font-size: 0.99rem;
        padding: 1px;
    }
    margin-bottom: 5px;
}

table#update-items {
    max-height: 60vh;
    border-collapse: separate;
    border-spacing: 0 3px;
    overflow: auto;
    
    $border-color: $bright-blue;
    $thin-border: 1px solid $border-color;
    $bold-border: 3px solid $border-color;
    
    th {
        white-space: nowrap;
        font-weight: bold;
        text-align: start;
        padding-left: 5px;
        position: sticky;
        top: 0;
        
        &:first-child {
            left: 0;
            z-index: 1;
            background-color: lighten($bright-blue, 25%);
        }
    }
    
    .checkbox {
        $light-red: lighten($red, 15%);
        display: block;
        position: relative;
        padding-left: 45px;
        margin-bottom: 23px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* Hide the browser's default checkbox */
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border-radius: 3px;
            border: 2px solid $light-red;
            
            &:after {
                /* Create the checkmark/indicator (hidden when not checked) */
                content: "";
                position: absolute;
                display: none;

                /* Style the checkmark/indicator */
                left: 7px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        &:hover input ~ .checkmark {
            background-color: $light-red;
        }

        input:checked {
            ~ .checkmark {
                background-color: $red;
                
                &:after {
                    display: block;
                }
            }
        }
    }
    
    thead {
        tr {
            td,th {
                border-bottom: $thin-border;
            }
            
            &:nth-child(2) {
                td,th {
                    border-top: $bold-border;
                }
            }
            
            &:last-child {
                td,th {
                    border-bottom: $bold-border;
                }
            }
            
            th {
                padding-right: 8px;
            }
        }
        
        tr:first-child {
            td,th {
                border: none;
            }
        }
        
        .fa-times {
            color: $red;
            display: block;
            font-size: 1.5rem;
        }
        
        .delete {
            background-color: $red;
        }
    }
    
    td {
        font-weight: normal;
    }
    
    .dropdown-list {
        width: inherit;
    }
    
    i {
        cursor: pointer;
    }
    
    input:read-only {
        background-color: #b3b3b3;
        cursor: default;
    }
    
    .is-key {
        color: $bright-blue;
        font-weight: bold;
    }
    
    .deleted-attr {
        background-color: $red;
    }
}

input.choosable {
    background-color: white !important;
}

#add-attr {
    .confirm-page {
        width: 280px;
        height: 200px;
    }
    table {
        margin: 10px auto;
    }
    button {
        $space: 5%;
        &.yes {
            left: $space;
        }
        &.no {
            right: $space;
        }
    }
    input {
        &:focus,&:hover {
            border: 1px solid $dark-grey !important;
            border-radious: 3px;
        }
    }
}