#main-pages>* {
    display: none;
}

#main-pages>.active {
    display: block;
}

#main-page-2>.collapsible-content {
    display: none;
}

#create-table-btn {
    width: 600px;
    cursor: pointer;
    text-align: left;
    position: relative;
}

.fa-caret-down,.fa-caret-up {
    position: absolute;
    right: 3px;
}

#create-table-contents {
    border: solid 1px grey;
    padding: 5px;
}

#create-table-page {
    width: 600px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.delete-attribute-control-item-btn {
    width: 20px;
}

.attribute-control-item>* {
    display: inline-block;
}

.attribute-type-contents {
    display: none;
    position: absolute;
}

.attribute-type-contents>a {
    display: block;
}