#main-pages>* {
    display: none;
}

#main-pages>.active {
    display: block;
}

#main-page-2>.collapsible-content {
    display: none;
}

.collapsible-btn {
    font-size: 18px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    position: relative;
    width: 600px;
}

.fa-caret-down,.fa-caret-up {
    position: absolute;
    right: 3px;
}

.collapsible-page {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

